body {
    background-color: gainsboro;
}


/*版心*/
.jd_container {
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    height: 1000px;
}

.jd_search {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.jd_search .jd_search_box {
    height: 40px;
    background: rgba(201,21,35,0);
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.jd_search_box .icon_logo {
    position: absolute;
    top: 4px;
    left: 10px;
    width: 60px;
    height: 36px;
    background-position: 0 -103px;
}

.jd_search_box .login {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.jd_search_box form {
    width: 100%;
    padding-left: 70px;
    padding-right: 50px;
    position: relative;
}

.jd_search_box form .icon_search {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 80px;
    top: 10px;
    background-position: -60px -109px;
}

.jd_search_box form input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background: #fff;
    border-radius: 15px;
    padding-left: 35px;
}

/*轮播图*/
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.jd_banner ul:first-child {
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}

.jd_banner ul:first-child li{
    width: 10%;
    float: left;
}

.jd_banner ul:first-child li a{
    display: block;
    width: 100%;
}

.jd_banner ul:first-child li a img{
    display: block;
    width: 100%;
}

.jd_banner ul:last-child {
    position: absolute;
    width: 118px;
    height: 6px;
    left: 50%;
    margin-left: -59px;
    bottom: 6px;

}

.jd_banner ul:last-child li{
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
}

.jd_banner ul:last-child li:first-child {
    margin-left: 0;
}
.jd_banner ul:last-child li.now{
    background-color: #fff;
}

/*导航栏*/
.jd_nav {
    width: 100%;
    background-color: #fff;
}

.jd_nav ul {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.jd_nav ul li {
    float: left;
    width: 25%;
    /*margin-bottom: 5px;*/
}

.jd_nav ul li a {
    display: block;
    width: 100%;
}

.jd_nav ul li a img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.jd_nav ul li a p{
    font-size: 12px;
    text-align: center;
    color: #666;
    padding: 5px 0;
}

/*产品区块*/
.jd_product {
    /*width: 100%;*/
    padding: 0 5px;
}

.jd_product_box {
    box-shadow: 0 0 2px #ccc;
    background: #fff;
    margin-top: 10px;
    /*min-height: 200px;*/
}

.jd_product_box .tit {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ccc;
}

.jd_product_box .tit.nb {
    border-bottom: none;
}

.jd_product_box .tit h3 {
    font-weight: normal;
    padding-left: 23px;
    position: relative;
}

.jd_product_box .tit h3::before {
    content: "";
    width: 3px;
    height: 12px;
    background: #d8505c;
    position: absolute;
    left: 10px;
    top: 11px;
}

/*掌上描述*/
.sk .icon{
    width: 16px;
    height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    background: url("../images/seckill-icon.png") no-repeat center / 16px 20px;
}

.sk .name {
    font-size: 16px;
    margin-left: 10px;
    float: left;
    color: #d8505c;
}

.sk .time {
    float: left;
    margin-left: 10px;
}

.sk .time span {
    float: left;
    background: #333;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-top: 9px;
    margin-left: 3px;
}

.sk .time span:nth-child(3n) {
    background: #fff;
    color: #333;
    width: 3px;
}


.sk .pro {
    width: 100%;
    padding: 10px 0;
}

.sk .pro li {
    width: 33.3333%;
    float: left;
}

.sk .pro li a {
    display: block;
    border-right: 1px solid #ddd;
}

.sh .pro li:last-child a {
    border-right: none;
}

.sk li a img {
    display: block;
    margin: 0 auto;
    width: 64%;
}

.sk li p {
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}

.sk li .now_price {
    color: #d8505c;
}

.sk li .old_price {
    color: #666;
    text-decoration: line-through;
}

/*组合样式*/
.w_50p {
    width: 50%;
}

.w_50p img {
    display: block;
    width: 100%;
}

.bl {
    border-left: 1px solid #ddd;
}

.br {
    border-right: 1px solid #ddd;
}

.bb {
    border-bottom: 1px solid #ddd;
}